:root {
  --color-primary-text-dark: #000000;
  --color-primary-text-light: #363636;
  --color-main-background: #E5E5E5;
  --text-size-header: 24px;
  --z-index--level-one: 100;
  --z-index--level-two: 200;
  --z-index--level-three: 300;
  --z-index--level-four: 400;
  --z-index--level-five: 500;
}
